body{
  font-family: "微软雅黑";
  background-color: white;
}

.panel-left .item-title{color:white;}
.navbar {left: 0;top: 0;color:#FFFFFF;background: #AB2619;}
.toolbar {left: 0;bottom: 0;background: #AB2619;}
.panel-left .list-block ul{background-color:black;}


/*----------首页 s-----------*/
.home .swiper-container {height: 36%;}
.home .swiper-slide img{height: 100%;width:100%;}
/*----------首页 e-----------*/


/*----------购物车 s-----------*/
.cart .orderSub{width:100px;margin:20px;height:50px;background:#AB2619;border-radius:5px;color:white;font-size: 14px;font-family: "微软雅黑"}
.cart .totalPrice{color:#AB2619;font-size: 16px;}
/*----------购物车 e-----------*/

/*----------商品详情 s-----------*/
.prodDesc .mainImg img{margin:10px auto;width:80%;margin:0 auto;}
.prodDesc .ptitle{width:80%;font-size:20px;font-family:'微软雅黑';color:black;line-height: 40px;}
.prodDesc .salePrice{font-size:18px;color:red;line-height: 30px;}
.prodDesc .retailPrice{font-size:14px;line-height: 30px;}
.prodDesc .detailText{font-size:16px;line-height: 30px;}
.prodDesc .cartSub{clear:both;float:left;margin:20px;width:100px;height:50px;background-color:#E67432;border-radius:5px;color:white;font-size: 14px;font-family: "微软雅黑"}
.prodDesc .orderSub{float:right;width:100px;margin:20px;height:50px;background:#AB2619;border-radius:5px;color:white;font-size: 14px;font-family: "微软雅黑"} 
.prodDesc .countNum {font-size: 20px;color:black;margin:20px;}
.prodDesc .quantity{width:30%;height:30px;border-radius:10px;margin:5px;float: left;}
/*----------商品详情 e-----------*/


/*----------订单提交 s-----------*/
.orderSubList .paypwd{width:auto;height:auto;margin:10px;float: left;}
.orderSubList .paywdText{width: 100px;height:auto;margin:10px;font-size: 17px;float: left;}
.orderSubList .confirmPay{width:100px;margin:10px;height:50px;background:#AB2619;border-radius:5px;color:white;font-size: 14px;font-family: "微软雅黑"}
.orderSubList .totalPriceText{font-size:16px;line-height: 10px;margin-left: 30px;line-height: 30px;float: left}
.orderSubList .totalPrice{font-size:16px;line-height: 10px;margin-left: 30px;line-height: 30px;color:#AB2619;}
/*----------订单提交 e-----------*/

/*----------用户登录 s-----------*/
.userSign .loginBtn{float:left;width:100px;margin:10px;height:50px;background:#AB2619;border-radius:5px;color:white;font-size: 14px;font-family: "微软雅黑"}
.userSign .signUpBtn{float:left;width:100px;margin:10px;height:50px;background:#FFFFFF;border-radius:5px;color:#000000;font-size: 14px;font-family: "微软雅黑"}
.userSign .loginSign{width:250px;height:50px;margin: 0 auto;}
/*----------用户登录 e-----------*/


.orderList a{color:#9E9EA2;}

.orderDesc .receipt{width:100px;margin:10px;height:50px;background:#AB2619;border-radius:5px;color:white;font-size: 14px;font-family: "微软雅黑"}
